body{height: 100%;}

body{background-color: #c9f5fe; margin:0; overflow: auto; cursor: url(images/cursor123.png), default; display: grid; grid-template-columns: 200px 1fr; grid-template-rows: auto 1fr auto; grid-template-areas:
    "aside header"
    "aside main"
    "aside footer";}



aside{grid-area: aside; height: 100%; background-color: hsl(0, 0%, 0%); box-shadow: 2px 0 5px #000000; overflow: auto; resize: horizontal;}
.marge label{color: white; font-weight: bold; display: block; margin: 5px;}
#barre_de_recherche{width: 95%; max-width: 200px; font-size: 16px; padding: 4px;}

header{grid-area: header; margin: 15px;}


main{grid-area: main; display: grid; grid-template-columns: 1fr; grid-template-rows: auto auto auto auto; gap: 10px; padding: 20px; min-height: 0;}

.carousel-section {overflow: hidden; width: 100%; box-shadow: 2px 2px 10px #000000;}
.carousel-container {width: 80%; margin: 25px auto; overflow: hidden; border: 2px solid black; box-sizing: border-box;}
.carousel-vocaloid {display: flex; flex-wrap: wrap; gap: 0; justify-content: center; width: max-content; animation: defilementInfini 25s linear infinite;}
@keyframes defilementInfini {0% {transform: translateX(0);}100% {transform: translateX(-50%);}}
.carousel-vocaloid figure{text-align: center;}
main section div figure img{width: 50px; height: 50px; background-color: hsl(180, 100%, 87%); overflow: hidden; object-fit: cover; text-align: center}

.article-section{box-shadow: 2px 2px 10px #000000}

.list-table{display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 30px; padding: 20px; width: 100%;}
.list-vocaloid ul{padding: 0; list-style: none; border:1px solid black; box-shadow: 2px 3px 35px #000000; border-radius: 20px; overflow: hidden;}
.list-vocaloid ul li{padding: 10px; border-bottom: 1px solid #ccc;}
.list-vocaloid ul li:last-child{border-bottom: none;}
.list-vocaloid ul li a{text-decoration: none; font-weight: bold;}
#list_miku, #list_teto, #list_luka, #list_kaito, #list_rin, #list_len, #list_gumi{list-style: circle inside;}
#list_miku a { color: #00C3FF; }
#list_teto a { color: #FF69B4; }
#list_luka a { color: #FFB6C1; }
#list_kaito a { color: #0000FF; }
#list_rin a { color: #FFD700; }
#list_len a { color: #FFA500; }
#list_gumi a { color: #7FFF00; }
.table-vocaloid table{width: 100%; border-collapse: separate; border-spacing: 0; box-shadow: 2px 3px 35px black; border: 1px solid black; border-radius: 20px; overflow: hidden;}
.table-vocaloid th, .table-vocaloid td{border: 1px solid black; text-align: center; padding: 8px;}
.table-vocaloid th{font-weight: bold;}


footer{grid-area: footer; background-color: #000000;color: white;}
